body {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
}
table {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.gradientText {
    position: absolute;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    background-image: linear-gradient(#835656, #000000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.playerRole {
    height: 300px;
    filter: grayscale(1);
    transition: 0.5s;
    margin-left: 4rem;
    margin-right: 4rem;
}
.playerRole:hover {
    height: 400px;
    filter: grayscale(0);
}
#roleKiller {
    height: 400px;
    filter: grayscale(0);
}
.objectHidden {
    height: 0;
}
#decrease {
    margin-right: 3rem;
    transform: translate(0, -10%);
    font-weight: bold;
    font-size: 3rem;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
}
#increase {
    margin-left: 3rem;
    transform: translate(0, -10%);
    font-weight: bold;
    font-size: 3rem;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
}
#value {
    color: white;
    font-size: 5rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.submitMMR {
    height: 2rem;
    width: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff81;
    border: none;
    border-radius: 4px;
}
.submitMMR:hover {
    background-color: #79070781;
    transition: 0.5s;
}
.platform {
    margin: 1rem 2rem 1rem 2rem;
}
#worldMap{
    /* height: 2000px; */
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}
.worldMap {
    height: 70%;
}
.pin img {
    height: 4rem;
}
#divApSouthEast {
    position: absolute;
    top: 32%;
    right: 10%;
}
#divApNorthEast {
    position: absolute;
    top: 18%;
    right: 12%;
}
#divOceCentral {
    position: absolute;
    top: 52%;
    right: 4%;
}
#divEuCentral {
    position: absolute;
    top: 10%;
    right: 26%;
}
#divEuWest {
    position: absolute;
    top: 8%;
    right: 40%;
}
#divUsEast {
    position: absolute;
    top: 8%;
    left: 18%;
}
#divUsWest {
    position: absolute;
    top: 14%;
    left: 6%;
}
#divLaSouth {
    position: absolute;
    top: 40%;
    left: 22%;
}