<!-- File ./templates/index.html  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="h-screen bg-red-700">
        <div class="bg-cover flex flex-col items-end justify-center"
            style="background-image: url('../static/thalita-lyra-lore-art.jpg'); height: 800px">
            <div class="relative inline-flex group right-60 bottom-40">
                <form id="startForm" action="" method="POST">
                    <div
                        class="absolute transitiona-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-[#FF675E] via-[#ff449b] to-[#FF675E] blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt">
                    </div>

                    <a href="/playerRole" title="" onclick="submitFunc()"
                        class="relative inline-flex items-center justify-center px-10 py-6 text-lg font-bold text-white transition-all duration-200 bg-[#A72E27] opacity-80 font-pj focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                        role="button"> START
                    </a>
                </form>
                <script>
                    function submitFunc() {
                        document.getElementById("startForm").submit();
                    } 
                </script>
            </div>


        </div>

    </div>
</body>

</html>