<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Role</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div>
        <button class="buttonBack">◀</button>
        <h1 class="gradientText">KILLER OR SURVIVOR?</h1>
        <button class="buttonHome">🏠︎</button>
    </div>
    <table>
        <tr>
            <th><a href="/killerMMR" onclick="submitFunc()"><img src="../static/New_Store_Nurse.webp" class="playerRole"></a></th>
            <th><a href="/survivorPartySize" onclick="submitFunc()"><img src="../static/New_Store_Feng.webp" class="playerRole"></a></th>
        </tr>
    </table>

    <script src="../script.js"></script>
</body>
</html>