<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div>
        <button class="buttonBack">◀</button>
        <h1 class="gradientText">DATE & TIME</h1>
        <button class="buttonHome">🏠︎</button>
    </div>
    <div>
        <button class="buttonBack">◀</button>
        <h1 class="gradientText">PLAYER MMRS</h1>
        <button class="buttonHome">🏠︎</button>
    </div>
    <div class="h-screen bg-black w-screen flex flex-col items-end justify-center">
        <form method="POST" id="dateForm">
        <h1 class="self-center text-[50px] font-mono bg-gradient-to-b from-orange-800 via-orange-900 to-slate-900 inline-block text-transparent bg-clip-text" onkeydown="">Queue Date and Time</h1>
        <!--
        <input class="text-white text-[80px] font-mono content-stretch bg-black h-1/2 w-2/3" type="datetime-local" id="meeting-time" name="meeting-time" value="2018-06-12T19:30"
            min="2018-06-07T00:00" max="2018-06-14T00:00" />
        -->
        <input id="dateInput" class="text-slate-300 outline-none bg-black text-[80px] py-9" type="datetime-local">
        </form>
        <script>
            const textInput = document.getElementById('dateInput');
            textInput.addEventListener('keydown', (event) => {
              if (event.key === 'Enter') {
                console.log('Enter key pressed!');
                document.getElementById("dateForm").submit();
                // Perform desired actions here
              }
            });
          </script>
    </div>
</body>

</html>