<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Role</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div>
        <button class="buttonBack">◀</button>
        <h1 class="gradientText">TIME TO HUNT</h1>
        <button class="buttonHome">🏠︎</button>
    </div>
    <div style="position: absolute; height: auto; width: 100%;">
        <img src="../static/generator.png" alt="" style="height: 500px; position: absolute; right: 0; transform: translate(0, 10%);">
        <p style="font-family: 'Roboto Condensed', sans-serif; font-size: 4rem; color: #ffffff81; position: absolute; top: 10%; left: 15%;">
            You have <span style="color: #835656; font-size: 6rem;">20</span> seconds
            <br>
            until the hunt begins.
            <br>
            <span style="font-size: 2rem;">Happy escaping...</span>
        </p>
    </div>
    <script src="../script.js"></script>
</body>
</html>