<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Size</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1 class="gradientText">NUMBER OF SURVIVORS</h1>
    <a href=""></a>
    <table>
        <tr>
            <th><img src="../static/LaurieStore.webp" id="player1" onclick="selectPlayer(1)" onmouseover="hoverOnPlayers(1)" onmouseout="hoverOffPlayers()"></th>
            <th><img src="../static/StoreBackground_KS.webp" id="player2" onclick="selectPlayer(2)" onmouseover="hoverOnPlayers(2)" onmouseout="hoverOffPlayers()"></th>
            <th><img src="../static/AS_CM_charPreview.webp" id="player3" onclick="selectPlayer(3)" onmouseover="hoverOnPlayers(3)" onmouseout="hoverOffPlayers()"></th>
            <th><img src="../static/DS_BO_charPreview.webp" id="player4" onclick="selectPlayer(4)" onmouseover="hoverOnPlayers(4)" onmouseout="hoverOffPlayers()"></th>
        </tr>
    </table>

    <script src="../static/script.js"></script>
</body>
</html>