<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Size</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body onload="loadSurvivorsInParty()">
    <h1 class="gradientText">PLAYER MMRS</h1>
    <table>
        <tr>
            <th><img src="../static/LaurieStore.webp" class="objectHidden" id="player1Chosen"></th>
            <th><img src="../static/StoreBackground_KS.webp" class="objectHidden" id="player2Chosen"></th>
            <th><img src="../static/AS_CM_charPreview.webp" class="objectHidden" id="player3Chosen"></th>
            <th><img src="../static/DS_BO_charPreview.webp" class="objectHidden" id="player4Chosen"></th>
        </tr>
        <tr>
            <th class="survivorMMRColSpan">
                <button id="decrease">–</button>
                <span id="value">5</span>
                <button id="increase">+</button>
            </th>
        </tr>
        <tr>
            <th class="survivorMMRColSpan"><button class="submitMMR" onmouseover="hoverOnButton(this)" onmouseout="hoverOffButton(this)">SUBMIT</button></th>
        </tr>
    </table>

    <script src="../static/script.js"></script>
</body>
</html>