<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Platform</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1 class="gradientText">GAMING PLATFORM</h1>
    <a href=""></a>
    <table>
        <tr>
            <th>
                <img src="../static/console-Steam.png" class="platform" id="platform1" onmouseover="hoverOnPlatform(1)" onmouseout="hoverOffPlatform()">
                <img src="../static/console-EGS.png" class="platform" id="platform2" onmouseover="hoverOnPlatform(2)" onmouseout="hoverOffPlatform()">
                <img src="../static/console-Switch.png" class="platform" id="platform3" onmouseover="hoverOnPlatform(3)" onmouseout="hoverOffPlatform()">
            </th>
        </tr>
        <tr>
            <th>
                <img src="../static/console-Xbox.png" class="platform" id="platform4" onmouseover="hoverOnPlatform(4)" onmouseout="hoverOffPlatform()">
                <img src="../static/console-PS.png" class="platform" id="platform5" onmouseover="hoverOnPlatform(5)" onmouseout="hoverOffPlatform()">
            </th>
        </tr>
    </table>

    <script src="../static/script.js"></script>
</body>
</html>