<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Server</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1 class="gradientText">USER SERVER</h1>
    <form method="POST" id="userRegionForm">
        <input type="hidden" value="" id="playerRegion" name="playerRegion">
    <div id="worldMap">
        <img src="../static/world.png" alt="World Map" class="worldMap">
        <div class="pin" id="divApSouthEast">
            <img src="../static/pin.png" alt="pin" id="pinApSouthEast" onmouseover="hoverOnPin('pinApSouthEast')" onmouseout="hoverOffPin()" onclick="recordRegion(1)">
        </div>
        <div class="pin" id="divApNorthEast">
            <img src="../static/pin.png" alt="pin" id="pinApNorthEast" onmouseover="hoverOnPin('pinApNorthEast')" onmouseout="hoverOffPin()" onclick="recordRegion(2)">
        </div>
        <div class="pin" id="divOceCentral">
            <img src="../static/pin.png" alt="pin" id="pinOceCentral" onmouseover="hoverOnPin('pinOceCentral')" onmouseout="hoverOffPin()" onclick="recordRegion(3)">
        </div>
        <div class="pin" id="divEuCentral">
            <img src="../static/pin.png" alt="pin" id="pinEuCentral" onmouseover="hoverOnPin('pinEuCentral')" onmouseout="hoverOffPin()" onclick="recordRegion(4)">
        </div>
        <div class="pin" id="divEuWest">
            <img src="../static/pin.png" alt="pin" id="pinEuWest" onmouseover="hoverOnPin('pinEuWest')" onmouseout="hoverOffPin()" onclick="recordRegion(5)">
        </div>
        <div class="pin" id="divUsEast">
            <img src="../static/pin.png" alt="pin" id="pinUsEast" onmouseover="hoverOnPin('pinUsEast')" onmouseout="hoverOffPin()" onclick="recordRegion(6)">
        </div>
        <div class="pin" id="divUsWest">
            <img src="../static/pin.png" alt="pin" id="pinUsWest" onmouseover="hoverOnPin('pinUsWest')" onmouseout="hoverOffPin()" onclick="recordRegion(7)">
        </div>
        <div class="pin" id="divLaSouth">
            <img src="../static/pin.png" alt="pin" id="pinLaSouth" onmouseover="hoverOnPin('pinLaSouth')" onmouseout="hoverOffPin()" onclick="recordRegion(8)">
        </div>
    </div>
    </form>
    <script src="../static/script.js"></script>
</body>
</html>